main {
    width: 50%;
    height: 100vh;
    justify-self: center;
    align-content: center;
}

form {
    padding: 16px;
    display: flex;
    background-color: antiquewhite;
    border-radius: 8px;
    align-items: center;
    justify-content: space-evenly;
}

.action-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 16px;
}

#todo-list {
    max-height: 200px;  /* Set maximum height */
    overflow-y: auto;   /* Enable vertical scrolling */
    padding: 10px;
    border: 2px solid;
    margin-top: 16px;
    border-radius: 8px;
}

li {
    border-bottom: 1px solid;
}